<style>
    #map {
        height: 100%;
    }
</style>
<div class="container-fluid">
    <h3>
        Shipment Information
    </h3>
    <div class="row justify-content-center col-md-12" style="height: 800px;">

        <div class="card col-md-2">
            <div class="card-body">
                <div class="form-group col-md-12">
                    <label class="input-label">
                        <center>Customer Destination</center>
                    </label>
                    {{shipment.receiver_address}}
                </div>
                <div>
                    <button type="button" class="btn btn-success" id="btStart" onclick="">Start</button>
                    <button type="button" class="btn btn-danger" id="btStop" onclick="">Stop</button>
                </div>

            </div>
        </div>
        <div class="col-md-10">
            <div id="map" style="height: 100%;"></div>
        </div>
    </div>
</div>

</div>
<script>
    async function initMap() {
        setInterval(() => {
            navigator.geolocation.getCurrentPosition(async position => {
                const { latitude, longitude } = position.coords;
                // Show a map centered at latitude / longitude.
                this.latitude = latitude;
                this.longitude = longitude;

                const response = await axios.put('/setLocation', { latitude, longitude });

                const myLatLng = { lat: latitude, lng: longitude };

                setLocationOnMap(myLatLng);
            });
        }, 5000);
    }
    function setLocationOnMap(myLatLng) {
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 14,
            center: myLatLng,
        });
        new google.maps.Marker({
            position: myLatLng,
            map,
            title: "Driver Location",
        });
    }
</script>