<!-- javascript -->
<script src="/assets/theme/js/jquery.min.js"></script>
<script src="/assets/theme/js/bootstrap.bundle.min.js"></script>
<script src="/assets/theme/js/jquery.easing.min.js"></script>
<script src="/assets/theme/js/scrollspy.min.js"></script>
<!-- SLIDER -->
<script src="/assets/theme/js/owl.carousel.min.js"></script>
<script src="/assets/theme/js/owl.init.js"></script>
<!-- Main Js -->
<script src="/assets/theme/js/app.js"></script>
<script src="/dist/js/stacktable.js"></script>
<script src="/assets/vendor/sweetalert/dist/sweetalert2.all.min.js"></script>
</body>

</html>