<!-- Hero Start -->
<section class='bg-home'>
  <div class='home-center'>
    <div class='home-desc-center'>
      <div class='container'>
        <div class='row align-items-center'>
          <div class='col-lg-8 col-md-6'>
            <div class='mr-lg-5'>
              <img src='assets/theme/images/user/track.svg' class='img-fluid' alt='' />
            </div>
          </div>
          <div class='col-lg-4 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0'>
            <div class='login-page bg-white shadow rounded p-4'>
              <div class='text-center'>
                <h4 class='mb-4'>
                  Track shipments<span class='text-primary'>.</span>
                </h4>
              </div>

              <div class='col-md-12'>
                <div class='form-group position-relative'>
                  <label>Tracking Details<span class='text-primary'>.</span></label>
                  <i class='mdi mdi-cube-send ml-3 icons'></i>
                  <input id='tracking_id' name='tracking_id'
                    placeholder='Enter your Shipping / Tracking number e.g. (WET100001)' id='comments' rows='4'
                    class='form-control pl-5' required></input>
                </div>
              </div>

              <div class='row'>
                <div class='col-sm-12 text-center'>
                  <button type='submit' onclick="checkTracking()" class='btn btn-primary rounded w-100'>
                    <i class='mdi mdi-cube-outline ml-3 icons'></i>
                    Search Now!
                  </button>
                </div>
                <!--end col-->
              </div>
            </div>
            <!---->
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end container-->
    </div>
  </div>
</section>
<!--end section-->
<!-- Hero End -->

<!-- Back to top -->
<a href='#' class='back-to-top rounded text-center' id='back-to-top'>
  <i class='mdi mdi-chevron-up d-block'> </i>
</a>
<!-- Back to top -->
<script>
  
  async function checkTracking() {
    var tracking_id = document.getElementById('tracking_id').value;

    console.log(tracking_id)
    if (tracking_id === null || tracking_id === '') {
      return Swal.fire({
        title: 'Error!',
        text: 'Tracking ID not found!',
        icon: 'error',
        confirmButtonText: 'OK'
      });
    }
    try {
      const response = await axios.post('/shipmentCheck', { 'tracking_id': tracking_id });
      console.log(response);
      return Swal.fire({
        title: 'Success!',
        text: response.data.message,
        icon: 'success',
        confirmButtonText: 'OK'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location = '/driverEnroute/' + tracking_id;
        }
      });
    } catch (error) {
      console.log(error);
      return Swal.fire({
        title: 'Error!',
        text: error.message,
        icon: 'error',
        confirmButtonText: 'OK'
      });
    }
  }


</script>